
    body {
        background-color: lightblue;
        font-size: 16;

    }
    
    #box2 {
        background-color: navy;
        width: 100px;
        height: 100px;
        margin:1%;
    }
    .changeToPurple {

        color: purple;
    }