.nav{
	display: -webkit-flex;
	-webkit-flex-direction: row-reverse;
	-webkit-justify-content: flex-end;
	-webkit-flex-wrap: wrap;
}

.nav li:first-child {
	margin-right: auto;
.nav li {
	-webkit-flex-grow: 1;
}
.col {
	-webkit-flex: 1;
	-webkit-align-self: left;
}

@media screen and (max-width: 80%) {
	.main {
		-webkit-flex-direction: column:
	}
}
